<article class="comment">

    <div class="comment__inner c-card">
        <header class="comment__header">
            <a class="comment__author-img" tabindex="-1" [attr.aria-label]="comment.user.username + '\'s profile'">
                <img src="{{comment.user.image.webp}}" alt="">
            </a>
            <p>
                <span class="u-sr-only">posted by</span>
                <a class="comment__author-name u-text-neu-600 u-fw-bold" href="#"
                    [attr.aria-label]="comment.user.username + '\'s profile'">
                    {{comment.user.username}}
                </a>
                @if (isCurrentUser) {
                <span aria-hidden="true" class="comment__author-badge">
                    you
                </span>
                }
                <span class="comment__publish-date">{{comment.createdAt | dateFormat}}</span>
            </p>
        </header>
        <div class="comment__body" [@childFadeInOutMerge]="isEditing">
            @if (isEditing) {
            <app-comment-form [commentId]="comment.id" [replyingTo]="isAReply(comment) ? comment.replyingTo : ''"
                [defaultValue]="previousFormValue || comment.content" (formSubmit)="submitForm($event)"
                (formClose)="handleFormClose($event)"></app-comment-form>
            } @else {
            <p>
                @if (isAReply(comment)) {
                <span class="u-text-pr-500 u-fw-medium">
                    <span class="u-sr-only">Replying to </span>
                    <a href="#">
                        {{'@' + comment.replyingTo}}
                    </a>
                </span>
                }
                {{comment.content}}
            </p>
            }
        </div>
        <div class="comment__voting-btns">
            <div>
                <button type="button" class="u-text-neu-400" [class.js-pressed]="votingStatus === 1"
                    [attr.aria-disabled]="isCurrentUser || votingStatus === 1"
                    (click)="changeVote({value: 1, id: comment.id, isCurrentUser: isCurrentUser})">
                    <img src="./assets/images/icon-plus.svg" alt="Upvote this comment">
                </button>
                <button type="button" class="u-text-neu-400" [class.js-pressed]="votingStatus === -1"
                    [attr.aria-disabled]="isCurrentUser || votingStatus === -1"
                    (click)="changeVote({value: -1, id: comment.id, isCurrentUser: isCurrentUser})">
                    <img src="./assets/images/icon-minus.svg" alt="Downvote this comment">
                </button>
                <dl>
                    <dt class="u-sr-only">
                        comment score
                    </dt>
                    <dd class="u-text-pr-500 u-fs-500 u-fw-medium">
                        {{comment.score}}
                    </dd>
                </dl>
            </div>
        </div>
        <div class="comment__authoring-btns">
            <div>
                @if (isCurrentUser) {
                <button type="button" class="u-text-acc-500 u-text-capitalize u-fw-medium u-fs-500"
                    (click)="deleteComment(comment.id)">
                    <img src="./assets/images/icon-delete.svg" alt="">
                    <span class="u-ms-300">
                        delete
                        <span class="u-sr-only">this comment</span>
                    </span>
                </button>
                <button type="button" class="u-text-pr-500 u-text-capitalize u-fw-medium u-fs-500"
                    (click)="isEditing = true" #formOpener>
                    <img src="./assets/images/icon-edit.svg" alt="">
                    <span class="u-ms-300">
                        edit
                        <span class="u-sr-only">this comment</span>
                    </span>
                </button>
                } @else {
                <button type="button" class="u-text-pr-500 u-text-capitalize u-fw-medium u-fs-500"
                    (click)="isReplying = true" #formOpener>
                    <img src="./assets/images/icon-reply.svg" alt="">
                    <span class="u-ms-300">
                        reply
                        <span class="u-sr-only">to this comment</span>
                    </span>
                </button>
                }
            </div>
        </div>
    </div>


    @if (isReplying) {
    <app-comment-form [commentParentId]="comment.id" [currentUserImg]="currentUser.image"
        [replyingTo]="comment.user.username" (formSubmit)="submitForm($event)" (formClose)="handleFormClose($event)"
        [defaultValue]="previousFormValue || ''" @fadeInOut></app-comment-form>
    }

    @if (comment.replies.length !== 0) {
    <section class="comment__replies" aria-label="Replies">
        @for (reply of comment.replies; track reply.id) {
        <app-comment [comment]="reply" [currentUser]="currentUser" (formSubmit)="submitForm($event)"
            (voteChange)="changeVote($event)" (commentDelete)="deleteComment($event)" @fadeInOut></app-comment>
        }
    </section>
    }

</article>