<form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="comment-form c-card"
    [class.is-updating]="mode === 'edit'">

    @if (currentUserImg) {
    <div class="current-user-img" aria-hidden="true">
        <img src="{{currentUserImg.webp}}" alt="">
    </div>
    }

    <section class="comment-form__control-group">
        <label for="commentContentControl" class="u-sr-only">
            Your {{purpose}}
        </label>
        <span aria-hidden="true">{{commentForm.controls.body.value}}</span>
        <textarea name="commentContent" id="commentContentControl"
            placeholder="{{mode === 'new' ? 'Add' : 'Edit'}} your {{purpose}}" formControlName="body"
            [attr.aria-invalid]="!commentForm.controls.body.valid" #contentControl>
            {{commentForm.controls.body.value}}
        </textarea>
    </section>

    <section class="comment-form__btns">
        @if (!isNewComment) {
        <button class="c-btn" type="button" data-btn-type="danger" (click)="closeForm()">
            cancel
        </button>
        }
        <button class="c-btn" [attr.aria-disabled]="!commentForm.valid">
            {{btnTxt}}
        </button>
    </section>
</form>